* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(to right, black, #4f5452);
  border-bottom: 2px solid #00ff94;
}
header #abrir {
  display: none;
}
header #logo {
  width: 6rem;
}
header .nav #cerrar {
  display: none;
}
header .nav .nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
header .nav .nav-list a {
  text-decoration: none;
  color: #ffffff;
}
header .nav .nav-list .numeroCarrito {
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 5px;
  width: 2rem;
  font-size: 16px;
  transition: all 1s;
}
header .nav .nav-list .efectoNumeroCarrito {
  transform: scale(1.4, 1.4);
  font-size: 18px;
}
@media screen and (max-width: 500px) {
  header .nav #cerrar {
    display: inline;
  }
}

main {
  height: 100vh;
  background-image: linear-gradient(to top, #1c1c1c, white);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}
main h2 {
  color: black;
  padding: 5px;
  background-color: #00ff94;
  display: inline-block;
  width: 15rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #1c1c1c;
}
main #productos {
  display: flex;
  flex-wrap: wrap;
}
main #productos .producto {
  height: 27rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 35px;
  background-image: linear-gradient(to right, rgba(233, 230, 230, 0.185), rgba(0, 0, 0, 0.377));
  margin: 10px 20px;
}
main #productos .producto img {
  width: 200px;
  height: 200px;
  transition: all 2s;
}
main #productos .producto img:hover {
  width: 250px;
  height: 250px;
}
main #productos .producto h2 {
  font-size: 2em;
}
main #productos .producto button:hover {
  height: 3.2rem;
  width: 8.5rem;
  font-size: 1.2em;
  border: 2px solid #1c1c1c;
}
main #productos .producto button:active {
  width: 9rem;
  padding: 15px;
  font-size: 1.2em;
  transition: all 0.5s;
  border: 3px solid #1c1c1c;
  background-color: white;
  color: rgba(0, 0, 0, 0.9019607843);
}
main #productos .producto button {
  height: 3rem;
  width: 8rem;
  background-color: #00ff94;
  padding: 10px;
  color: black;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.4s;
}

#carrito {
  width: 5rem;
  background-color: rgba(0, 0, 255, 0);
}

button {
  border: none;
}

@media screen and (max-width: 500px) {
  .nav {
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  .visible {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #ececec;
  }
}

/*# sourceMappingURL=style.css.map */
